/** STYLE: THEMES > OVERRIDES > APP
 * **************************************************
 * This file contains all the overrides for the
 * above indicated theme.
 * ************************************************** */
:root[data-theme="app"] {
    --app-theme-primary: 135, 15, 30;
    --app-theme-secondary: 235, 92, 120;
    --app-theme-tertiary: 255, 119, 15;
    --app-theme-accent: 191, 191, 191;
    --app-theme-success: 0, 150, 136;
    --app-theme-info: 0, 123, 255;
    --app-theme-warning: 255, 239, 59;
    --app-theme-danger: 244, 67, 54;
    --app-theme-light: 255, 255, 255;
    --app-theme-dark: 64, 64, 64;
}